---
title: Ajax
heading: 'Testat ITEC'
lead: Nothing interesting here.
priority: 2
---

<h3>Drücke "Ajax Request auslösen" um asynchron Daten zu laden.</h3>
<blockquote>
<p>
	Der Ajax Request geht an <a href="http://jsonplaceholder.typicode.com/">JSONPlaceholder</a>, eine öffentliche Rest API zum Testen und Prototypen. 
</p>
</blockquote>
<button type="button" class="btn btn-default btn-lg btn-block" id="json">Ajax Request auslösen</button>
<h3>Posts: </h3>
<div id="posts">
</div>