---
title: Formular
heading: 'Testat ITEC'
lead: Nothing interesting here.
priority: 2
---
<div class="alert alert-info alert-dismissible" role="alert">Bitte gib uns ein paar persönliche Informationen:</div>

<form class="form-horizontal" method="GET" action="#">
  <div class="form-group">
    <div class="col-sm-12">
    	<input class="form-control input-lg" name="firstname" type="text" placeholder="Vorname">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
    	<input class="form-control input-lg" name="lastname" type="text" placeholder="Nachname">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input class="form-control input-lg" name="email" type="email" placeholder="Email">
    </div>
  </div>
  <button type="submit" class="btn btn-default pull-right"> Speichern </button>
</form>
