---
title: Home
heading: 'Testat ITEC'
lead: Nothing interesting
priority: 0
---
<h1>{{ heading }}</h1>
Die Testataufgabe für das Modul ITEC@HSLU - Herbst 2015


<h3>Erstellt mit:</h3>
<ul>
  <li>
  	<a href="http://yeoman.io/">Yeoman</a> - The web's scaffolding tool for modern webapps
  </li>
   <li>
  	<a href="http://assemble.io/">Assemble</a> - The static site generator for Node.js, Grunt.js and Yeoman. 
  </li>
     <li>
  	<a href="https://github.com/assemble/generator-assemble">Assemble generator</a> - Yeoman generator for Assemble
  </li>
    <li>
  	<a href="http://gruntjs.com/">Grunt JS</a> - Automation, performing repetitive tasks like minification, compilation, unit testing and linting.
  </li>
    <li>
  	<a href="http://bower.io/">Bower</a> - Bower is a package management system for client-side programming on the World Wide Web.
  </li>
   <li>
  	<a href="http://getbootstrap.com/">Bootstrap</a> - Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
  </li>
     <li>
  	<a href="http://bootswatch.com/">Bootswatch</a> - Free themes for Bootstrap
  </li>
  <li>
  	<a href="https://github.com/jguadagno/bootstrapThemeSwitcher">bootstrapThemeSwitcher</a> - Bootswatch Theme Switcher
  </li>
   <li>
  	<a href="http://jquery.com/">jQuery</a> - The Write Less, Do More, JavaScript Library.
  </li>
    <li>
  	<a href="http://jqueryvalidation.org/">jQuery validation</a> - Form validation with jQuery
  </li>
</ul>

<h3>Vielen Dank an:</h3>
<ul>
	 <li>
  	<a href="http://jsonplaceholder.typicode.com/">JSONPlaceholder </a> - Fake Online REST API for Testing and Prototyping
  </li>
	 <li>
  	<a href="http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/">William Malone</a> - Create a drawing app with html5 canvas and javascript
  </li>
  <li>
  	<a href="https://github.com/code-inflation">Robin B</a> - Fürs mitleiden.
  </li>
  </ul>